footer {
    padding: 100px 0;

    .footer-content {
        display: flex;
        gap: 80px;

        .footer-first-block {
            @include flex-column(40px);
            
            .footer-logo {
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                h1 {
                    @include font-style($font-logo, $text-color, 28px, 400, normal);
                    transition: color 0.2s linear;
                
                    &:hover {
                        color: #353535;
                    }
                }
                
            }

            p {
                max-width: 370px; 
                @include font-style($font-text, $text-color-paragraph, 15px, 400, 25px);
                text-transform: capitalize;
            }
        }

        .footer-block {
            display: grid;
            grid-template-columns: repeat(3, 170px);
            gap: 150px;

            .f-element {
                @include flex-column(25px);

                h4 {
                    @include font-style($font-title, $text-color, 16px, 500, normal)
                }

                .f-link ul {
                    @include flex-column(10px);
                    
                    li a {
                        @include font-style($font-text, $text-color-paragraph, 14px, 400, 24px);
                        text-transform: capitalize;
                        transition: color 0.2s linear;

                        &:hover {
                            color: $text-color;
                        }
                    }
                }
            }
        }
    }
}