/*

font-family: 'Kalnia', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 20px;

*/

// Fonts

$font-title: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-logo: 'Kalnia', serif;
$font-nav: 'Poppins', sans-serif;

// Colors

$main-color: #f1f1f1;
$secondary-color: white;
$text-color: black;
$text-color-secondary: white;
$text-color-grey: #777;
$text-color-sale: #ff6f61;
$text-color-paragraph: #292929;
$button-color: #1e2832;
$button-color-secondary: #2d3a47;
$button-color-white: white;
$ribbon-main: #1e2832;
$ribbon-secondary: #ff6f61;
$footer-color: #1e2832;